{{ 'accordion-tab.css' | asset_url | stylesheet_tag }}
<script src="{{ 'accordion-tab.js'| asset_url }}" defer="defer"></script>

<accordion-tab>
  <div class="accordion__header" data-header>
    <h2>Click accordion title</h2>
  </div>
  <div class="accordion__content" ata-content>
    <p>Hello kfjhdskfskd dhfdhsfhsdf dhfdshfdlksh dhfdshfdslf</p>
  </div>
</accordion-tab>

{% schema %}
{
  "name": "Accordion Tab",
  "settings": [],
  "presets": [
    {
      "name": "Accordion Tab"
    }
  ]
}
{% endschema %}
