<!-- templates/page.wishlist.liquid -->
<div class="wishlist-page">
  <h1>Wishlist</h1>
  <div id="wishlist-items"></div>
</div>

<script src="{{ 'wishlist-page.js' | asset_url }}" defer></script>
<link rel="stylesheet" href="{{ 'wishlist.css' | asset_url }}">
